<html ng-app="huazilive">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="wap-font-scale" content="no">
    <title>分享试题</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/edit.css" rel="stylesheet">
    <link href="css/topic-cont.css" rel="stylesheet">
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular-ui/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/zepto.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- 题目内容 -->
    <script type="text/javascript" src="js/topic-cont/controller-share-parse-guide.js"></script>
    <script type="text/javascript" src="js/topic-cont/directive-share-parse-guide.js"></script>
    
</head>
    <body ng-controller="topicShareParseGuide" topic-share-parse-guide-directive>
        <div class="share-parse-guide-box" ng-cloak>
            <div class="installed-sec">
                <div class="share-parse-arrow"></div>
                <p class="p-one" ng-bind="'已安装&nbsp;&nbsp;欧拉教育'"></p>
                <p class="p-two">点击右上角…</p>
                <p class="p-three">选择在<span class="safari dib" ng-if="!equipmentType"></span><span class="browser dib" ng-if="equipmentType"></span>浏览器中打开</p>
          <!--     <span class="installed-btn" on-touch="openAPP()" ng-bind="'立即打开'"></span> -->
            </div>
            <div class="center-bg">
                
            </div>
            <div class="not-installed-sec">
                <span class="not-installed-text" ng-bind="'未安装&nbsp;&nbsp;欧拉教育'"></span>
                <span class="not-installed-btn" on-touch="downloadAPP()" ng-bind="!equipmentType ? '去App&nbsp;Store下载' : '下载安装'"></span>
            </div>
        </div>
        
    </body>
    <script id="templates/modal.html" type="text/ng-template">
         <ion-modal-view class="modal-view">
            <ion-content class="padding">
               <div class="share-parse-prompt-txt">
                  <div class="share-parse-arrow"></div>
                  <p class=" p-two">点击右上角…</p>
                  <p class="p-three">选择在<span class="safari dib" ng-if="!equipmentType"></span><span class="browser dib" ng-if="equipmentType"></span>浏览器中打开</p>
                </div>
            </ion-content>
          </ion-modal-view>
    </script>
</html>